.site {
    text-align: center;
    /* border: 2px solid red;  */
    text-align: center;
    justify-content: center;
    padding-left: 100px;
    background-image: url("./img/woman1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    height: 120vh;
    width:120vh;
}

h1 {
    text-align: center;
    color: rgb(65, 104, 24);
    font-family:fantasy;
    font-size: larger;
}

.header {
    margin: 60px;
}

#addButton {
    background-color: rgb(187, 212, 121);
    color: rgb(79, 76, 79);
    text-align: center;
    justify-content: center;
    font-size: small;
}

form {
    /* border: 2px solid red; */
    
    text-align: center;
    justify-content: center;
}

form #note {
    /* border: 2px solid rgb(129, 204, 133); */
    background-color: rgb(242, 249, 240);
    width: 600px;
    height: 100px;
    margin: 40px;
    text-align: center;
    justify-content: center;
}

.footer {
    margin: 150px;
    

}

img {
    border: 4px solid black;
}
