#root {
	width: 100vw;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	background-color: #b6c97c;
  /* opacity: 0.9; */
}

.nav {
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  
}

.nav p {
  font-family: fantasy;
  font-size: larger;
  text-align: center;
  margin: 40px;
  color: rgb(0, 0, 0);
}

.site {
    text-align: center;
    /* border: 2px solid red;  */
    text-align: center;
    justify-content: center;
    padding-left: 100px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(19, 22, 16);
    font-family:fantasy;
    font-size: large;
    padding: 40px;
    margin: 20px;
    
}

.titel {
    /* background-image: url("./img/rosaBlumen.png");  */
    background-image: url("https://i.otto.de/i/otto/b7fd6fca-6106-5fb2-a6d8-e1e9b3bfd753?w=2500&h=2262");
    background-color: #a9beea;
    background-size: cover;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    font-family:fantasy;
    margin-top: 100px;
}

.header {
    margin: 60px;
}

#addButton {
    background-color: rgb(211, 242, 125);
    color: rgb(79, 76, 79);
    text-align: center;
    justify-content: center;
    font-size: small;
    /* position: relative;  */
    margin: 5px;
}

#deleteButton {
    background-color: rgb(220, 203, 200);
    color: rgb(79, 76, 79);
    text-align: center;
    justify-content: center;
    font-size: small;
    /* position: relative;  */
    margin: 40px;
}

.header ul {
  display: flex;
  justify-content: space-around;
  /* background: #eee; */
  /* background-color: #ddebf6; */
  padding: 25px 50px;
  margin: 0;
  list-style: none;
  color: black;
}

.header li a {
  color: black;
  border: 2px solid rgb(248, 248, 182);
  border-radius: 0.3em;
  margin: 10em;
  padding: 0.8em;
  background-color: rgb(248, 248, 182);
}

.header li a:hover {
  color: rgb(125, 118, 118);
}

.newNote {
  /* border: 4px solid rgb(40, 145, 49); */
  padding: 120px;
  margin-left: 100px;
  margin-right: 100px;
}
.notes {
  border: 2px solid #ad49ad;
}

form {
  text-align: center;
  /* border: 2px solid red; */
  margin-right: 180px;
  margin-left: 180px;
}


/* ///social media icons - footer */
.footer {
    text-align: center;
    
    /* background: #eee; */
    /* padding: 35px 10px; */
  }

  .copyright {
    padding-top: 20px;
  }
  
  a.social:hover {
    transform: translateY(-1px);
  }
  
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    padding:25px 50px;
    margin: 0;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: black;
  }
  /* ///end of social media icons - footer */


