#root {
	width: 100vw;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	/* overflow: hidden !important; */
    background-color: #a6c157;
    /* background-image: url("https://pixabay.com/get/g5009d32684de239850240d99f2e923f864fdcb365e7b07775f475e4edce8565907411fa9ae5e09185d9f6f7987ceb2d575262f2986b074de7d1afe3d446eacf6_1920.png");  */
    
    
    
}

.site {
    text-align: center;
    /* border: 2px solid red;  */
    text-align: center;
    justify-content: center;
    padding-left: 100px;
    /* background-image: url("./img/woman1.jpg"); */
    /* background-image: url("https://pixabay.com/get/gea570bb0808f63ff79a321a8d1ada2994595ef0f5a539e605694817bc554e906bb42707a89def295660bab4ac98dbed342e1cf8976347b2b58ea33837ce0d2d9_1920.jpg");  */
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    /* height: 120vh;
    width:120vh; */
}

h1 {
    text-align: center;
    color: rgb(65, 104, 24);
    font-family:fantasy;
    font-size: larger;
    padding: 40px;
}

h2 {
    font-family:fantasy;
    margin-top: 100px;
}

.header {
    margin: 60px;
}

#addButton {
    background-color: rgb(187, 212, 121);
    color: rgb(79, 76, 79);
    text-align: center;
    justify-content: center;
    font-size: small;
    /* position: relative;  */
    margin: 5px;
    /* display: block; */
}

#deleteButton {
    background-color: rgb(220, 203, 200);
    color: rgb(79, 76, 79);
    text-align: center;
    justify-content: center;
    font-size: small;
    /* position: relative;  */
    margin: 40px;
    /* display: block; */
}


form #note {
    /* border: 2px solid rgb(129, 204, 133); */
    background-color: rgb(242, 249, 240);
    border-radius: 0.4rem;
    text-align: center;
    justify-content: center;
    font-size: small;
    /* position: relative;  */
    width: 25vw;
    height: 10vh;
    margin-right: 70px;
    margin-left:70px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    
}

form #titel {
    border: 2px solid black;
    border-radius: 0.2rem;
    /* display: block; */
    margin:10px;
    text-align: center;
    justify-content: center;
    /* position: relative; */
    width: 15vw;
}
form #img {
    border: 2px solid black;
    border-radius: 0.2rem;
    /* display: block; */
    margin:10px;
    text-align: center;
    width: 15vw;
   
}
form #date {
    border: 2px solid black;
    border-radius: 0.2rem;
    /* display: block; */
    margin:10px;
    text-align: center;
}

.footer {
    margin: 150px;
}

img {
    border: 4px solid black;
}



/* ///social media icons - footer */
.footer {
    text-align: center;
    /* background: #eee; */
    padding: 35px 10px;
  }

  .copyright {
    padding-top: 20px;
  }
  
  a.social:hover {
    transform: translateY(-1px);
  }
  
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    padding:25px 50px;
    margin: 0;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: black;
  }
   


  /* ///end of social media icons - footer */


  .header ul {
    display: flex;
    justify-content: space-around;
    background: #eee;
    padding: 25px 50px;
    margin: 0;
    list-style: none;
    color: black;
    
  }

  .header li a {
    color: black;
  }

  .header li a:hover {
    color: rgb(125, 118, 118);
  }


  .newNote {
    /* border: 4px solid rgb(40, 145, 49); */
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .notes {
    border: 2px solid #ad49ad;
  }

  form {
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    /* border: 2px solid red; */
    margin-right: 180px;
    margin-left: 180px;
  }